<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>RSS Reader</title>
</head>
<body>
    <form action="/" method="post">
        <input type="text" name="url" placeholder="Введите RSS URL">
        <button type="submit">Submit</button>
    </form>

    {% if data %}
    <!-- Вы можете отобразить данные здесь, например: -->
    <ul>
        {% for item in data %}
        <li>{{ item.title }}: {{ item.summary }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>
